<app-header></app-header>

<div>
    <img appImgBroken class="imagen" src="https:-//preview.redd.it/oot-the-legend-of-zelda-ocarina-of-time-released-on-this-v0-yj9tnota1q1c1.jpeg?width=1080&crop=smart&auto=webp&s=28cc84431045d0f714af68d6edbcd85ac6c9bbf4" alt="">
    <br><br>
    <img appImgBroken class="imagen" src="https://preview.redd.it/oot-the-legend-of-zelda-ocarina-of-time-released-on-this-v0-yj9tnota1q1c1.jpeg?width=1080&crop=smart&auto=webp&s=28cc84431045d0f714af68d6edbcd85ac6c9bbf4" alt="">
</div>